:root {
  color-scheme: light dark;
}

html {
    padding:0;
    margin:0;
}

body {
    font-size:18px;
    margin:0;
    padding:0;
}

a {
    color: #509CFC;
    text-decoration: none;
}

.simple_body {
    padding: 15px 25px;
}

.simple_body h1:first-child {
    margin-top: 10px;
}

.display-none {
    display: none;
}
